In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (2.3.2)
Requirement already satisfied: py4j==0.10.7 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.7)

In [2]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
from pyspark import SparkContext

In [3]:
from pyspark.sql import SparkSession 

spark = SparkSession.builder.appName("Student Score").config(" spark.sql.warehouse.dir", "some-value").getOrCreate()

In [4]:
df_students = spark.read.csv("C:\\Users\\isanj\\OneDrive\\Desktop\\Student_603.csv", header='true', inferSchema='true') 
# Displays the content of the DataFrame to stdout 
df_students.show()

+----------+-----------------+------------+---+
|Student_ID|     Student_Name|Phone_Number|GPA|
+----------+-----------------+------------+---+
|       301|    Mary Waggoner|919-779-7459|3.8|
|       102|    Arthur Weller|940-696-4542|4.0|
|       203| Jessica Reynolds|901-691-3881|2.4|
|       104|    Marc  Vasquez|573-243-2353|2.9|
|       205|    Dylan  Gordon|727-489-8843|3.6|
|       126|       Brad Cronk|415-989-2003|3.2|
|       187|    steve Francis|517-973-8962|3.9|
|       138|     John  Hughes|662-370-6063|3.0|
|       199| Kathryn N. Jones|612-304-6827|3.3|
|       209|      John  Smith|812-463-0040|3.4|
|       219|   Nathan Bennett|812-275-0880|3.5|
+----------+-----------------+------------+---+

In [8]:
#  User defines function

def determine_grade(GPA):
    if GPA >= 3.6 and GPA <= 4:
        return 'A'
    elif GPA >= 3.2 and GPA < 3.6:
        return 'B'
    elif GPA >= 2.8 and GPA <3.2:
        return 'C' 
    elif GPA >= 2 and GPA <2.8:
        return 'D'
    elif GPA >= 0.0 and GPA <2:
        return 'E/F'

In [9]:
from pyspark.sql.functions import udf

student_grade = udf(determine_grade, StringType())
grade_DF = df_students.withColumn("Grade", student_grade("GPA"))
grade_DF.show()

+----------+-----------------+------------+---+-----+
|Student_ID|     Student_Name|Phone_Number|GPA|Grade|
+----------+-----------------+------------+---+-----+
|       301|    Mary Waggoner|919-779-7459|3.8|    A|
|       102|    Arthur Weller|940-696-4542|4.0|    A|
|       203| Jessica Reynolds|901-691-3881|2.4|    D|
|       104|    Marc  Vasquez|573-243-2353|2.9|    C|
|       205|    Dylan  Gordon|727-489-8843|3.6|    A|
|       126|       Brad Cronk|415-989-2003|3.2|    B|
|       187|    steve Francis|517-973-8962|3.9|    A|
|       138|     John  Hughes|662-370-6063|3.0|    C|
|       199| Kathryn N. Jones|612-304-6827|3.3|    B|
|       209|      John  Smith|812-463-0040|3.4|    B|
|       219|   Nathan Bennett|812-275-0880|3.5|    B|
+----------+-----------------+------------+---+-----+

In [10]:
# Register the DataFrame as a SQL temporary view

grade_DF.createOrReplaceTempView("score") 

#Select columns to display
sqlDF = spark.sql("SELECT Student_ID,Student_Name,Phone_Number,Grade  FROM score") 
sqlDF.show()

+----------+-----------------+------------+-----+
|Student_ID|     Student_Name|Phone_Number|Grade|
+----------+-----------------+------------+-----+
|       301|    Mary Waggoner|919-779-7459|    A|
|       102|    Arthur Weller|940-696-4542|    A|
|       203| Jessica Reynolds|901-691-3881|    D|
|       104|    Marc  Vasquez|573-243-2353|    C|
|       205|    Dylan  Gordon|727-489-8843|    A|
|       126|       Brad Cronk|415-989-2003|    B|
|       187|    steve Francis|517-973-8962|    A|
|       138|     John  Hughes|662-370-6063|    C|
|       199| Kathryn N. Jones|612-304-6827|    B|
|       209|      John  Smith|812-463-0040|    B|
|       219|   Nathan Bennett|812-275-0880|    B|
+----------+-----------------+------------+-----+